@{
    ViewData["Title"] = "Home Page";
}

<br />

<div class="row">
    <div class="col-md-4">
        <img src="~/images/planets/@ViewBag.planet.Image" style="height: 100%; width: 100%;" />
    </div>
    <div class="col-md-8">
        <h1>@ViewBag.planet.Name <small>Tech Level: @ViewBag.planet.TechLevel</small></h1>
        <h4>Population: @ViewBag.planet.Population</h4>
        <p>@ViewBag.planetstring</p>
        <p><b>Alliance Member:</b> @ViewBag.planet.AllianceMember</p>
        <p><b>Political Leaning:</b> @ViewBag.planet.PoliticalLeaning</p>
    </div>
</div>
<br />
@if (ViewBag.planet.Cities.Count > 0) {
    <div class="row">
        <div class="col-md-12">
            <h2>Cities</h2>
            <table class="table table-hover table-responsive table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Population</th>
                        <th>Main Export</th>
                        <th>Has Spaceport</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var city in ViewBag.planet.Cities) {
                        <tr>
                            <td>@city.Name</td>
                            <td>@city.Population</td>
                            <td>@city.MainExport</td>
                            <td>@city.Spaceport</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}